* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 75px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px white solid;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;

}

.navlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
}

#logo {
    width: 50px;
}

.navlogo h2 {
    color: white;
    font-size: xx-large;
}

#list1 {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    padding-top: 23px;
    gap: 50px;


}

.navlinks ul li a {
    font-size: x-large;
    text-decoration: none;
    color: white;
}

.navlinks ul li a:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    transition: 1s ease;
}



/* Video */


/* FRONT */
#front {
    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.front1:hover {
    transform: scale(1.2);
    transition: 1s ease-in-out;
}

#fname {
    font-size: 70px;
    color: rgb(0, 0, 0);
}

#mag1 {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50px;
}

#mag1:hover {
    transform: scale(1.1);
    transition: 1s ease-out;
}

#proff {
    font-size: 34px;
    color: rgb(0, 0, 0);
}

#proff2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#fbutton {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: x-large;
}

#fbutton:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 249, 249);
    transform: scale(1.1);
    transition: 0.5s ease-in;
}



/* ABOUT */

#about {
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}

.content-about {
    display: flex;
}


.magpara {
    margin: 30px;
    padding: 40px;
    text-align: center;
    display: block;
    justify-content: center;
    color: white;

}

.magpara:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

#proftitle {
    font-size: 50px;
}

#profdes {
    text-align: justify;
    margin-top: 50px;
    padding: 20px;
    font-size: xx-large;
    line-height: 50px;
}




/* BASIC INFO */
#basic {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
}

#basihead {
    text-align: center;
    padding: 20px;
    font-size: 45px;
    padding-top: 30px;

}

.basic-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;


}

.basinfo {
    display: block;
    justify-content: center;
    width: 400px;
    height: 125px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
}

.basinfo:hover {
    transform: scale(1.01);
    transition: 1s ease;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-color: rgb(95, 95, 235);
}


/* Achievements */
#achieve {
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}

.achinfo {
    width: 50%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    font-size: xx-large;
    border: 2px solid white;
    border-radius: 20px;

}

.vidmag {
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 20px;

}

.content-achieve {
    display: flex;
    justify-content: space-evenly;


}



.achinfo {

    padding: 40px;
    text-align: center;
    display: block;
    justify-content: center;
    color: rgb(255, 255, 255);

}

#achi-head {
    font-size: 50px;
    color: black;
}

.row-achi {
    height: 100px;
    width: 90%;
    background-color: rgb(253, 253, 253);
    color: black;
    margin-top: 60px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;

}

.row-achi:hover {
    transform: scale(1.01);
    transition: 1s ease;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-color: rgb(95, 95, 235);
}



/* RATINGS */
#rating {
    width: 100%;
    height: 675px;
    background-color: rgb(173, 225, 105);
}

/* SERVICES */
#services {
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
}

#serve-title {
    text-align: center;
    padding: 20px;
    font-size: 45px;
}

.gservice {
    display: flex;
    justify-content: space-evenly;
}



.serve {
    margin: 20px;
    height: 500px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.serve:hover {
    transform: scale(1.1);
    transition: 1s ease;

}

.serve img {
    padding-top: 20px;
    height: 85%;
    width: 100%;
}






/* Contact */
#contact {
    width: 100%;
    height: 900px;
    background-color: rgb(163, 163, 163);
    display: flex;
    justify-content: space-around;

}

.containfo {
    width: 50%;
    padding: 40px;
    text-align: center;
    display: block;
    justify-content: center;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-left: 50px;
    border: 2px solid black;
    margin: 30px;
    padding: 70px;

}

.infoconta {
    padding-top: 200px;
    font-size: xx-large;

}


.feedback {
    display: block;
    justify-content: center;
    margin: 100px 70px 70px 70px;

}


.feedback p {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 35px;
    color: white;
    border: 2px solid black;
    border-radius: 20px;



}

form {
    margin-top: 50px;
    margin-right: 40px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 103%;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

.button1:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 1s ease;
}






/* FOOTER */
footer {
    width: 100%;
    height: 75px;
    background-color: black;
    border-top: 2px solid white;
}

.foot {
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}



@media screen and (max-width:375px) {

    * {
        margin: 0;
        padding: 0;
    }

    /* header */

    .navlogo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 20px;
        padding: 5px;
    }

    #logo {
        width: 25px;
    }

    .navlogo h2 {
        color: white;
        font-size: small;
    }

    #list1 {
        display: flex;
        justify-content: end;
        padding-right: 10px;
        padding-top: 25px;
        gap: 5px;



    }

    .navlinks ul li a {
        font-size: large;
        text-decoration: none;
        color: white;
        font-size: 10px;
    }

    /* front */

    #front {
        width: 100%;
        height: 400px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .front1{
        padding: 10px;
    }

    #mag1 {
        border: 5px solid rgb(0, 0, 0);
        border-radius: 50px;
        width: 150px;
    }

    #fname {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }

    #proff {
        font-size: 15px;
        color: rgb(0, 0, 0);
    }

    #proff2 {
        font-size: 15px;
        color: rgb(0, 0, 0);
    }

    #fbutton {
        margin-top: 20px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
        color: black;
        padding: 7px;
        font-size: small;
        ;
    }

    /* About */
    .content-about {
        display: block;
    }

    #about {
        width: 100%;
        height: 1800px;
        background-color: rgb(0, 0, 0);
    }
    .magpic{
        width: 100px;
    }

    
.magpara {
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: block;
    justify-content: center;
    color: white;

}

.magpara:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

#proftitle {
    font-size: 30px;
}

#profdes {
    text-align: justify;
    margin-top: 50px;
    padding: 20px;
    font-size: large;
    line-height: 30px;
}



    /* Basic info */
    #basic {
        width: 100%;
        height: 450px;
        background-color: rgb(255, 255, 255);
    }

    #basihead {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        padding-top: 30px;

    }

    .basic-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50vh;



    }

    .basinfo {
        display: block;
        justify-content: center;
        width: 125px;
    
        background-color: rgb(255, 255, 255);
        text-align: center;
        font-size: large;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid black;
    }

    /* Achievements */
    #achieve {
        width: 100%;
        height: 1150px;
        background-color: rgb(0, 0, 0);
    }
    .achinfo {
        width: 50%;
        height: 1200px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        font-size:small;
        border: 2px solid white;
        border-radius: 20px;

        
    }
#achi-head {
    font-size: 25px;
    color: black;
}



    .row-achi {
        height: 100px;
        width: 90%;
        background-color: rgb(253, 253, 253);
        color: black;
        margin-top: 20px;
        margin-left: 10px;
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px 0px 5px 0px;

    }

    
    /* service */
    #services {
    width: 100%;
    height:400px;
    background-color: rgb(255, 255, 255);
}

    #serve-title {
        text-align: center;
        padding: 20px;
        font-size:x-large;
    }
    .gservice {
    display: inline-flex;
    justify-content: space-evenly;
}


    .serve {
        height: 200px;
        width: 100px;
        background-color: rgb(0, 0, 0);
        color: white;
        border: 2px solid black;
        border-radius: 10px;
    }

    .serve img {
        padding-top: 20px;
        height: 100px;
        width: 100%;
    }

    /* contact */
    #contact {
        width: 100%;
        height: 1150px;
        background-color: rgb(163, 163, 163);
        display: block;
        justify-content: space-around;

    }

    .containfo {
        width: 50%;
        padding: 20px;
        text-align: center;
        display: block;
        justify-content: center;
        background-color: white;
        color: rgb(0, 0, 0);
        margin-left: 50px;
        border: 2px solid black;
        margin: 50px;
        margin-left: 70px;
        margin-top: 20px;



    }

    .infoconta {
        padding-top: 50px;
        font-size: small;

    }


    .feedback {
        display: block;
        justify-content: center;
        margin: 100px 70px 70px 70px;

    }


    .feedback p {
        text-align: center;
        background-color: rgb(0, 0, 0);
        padding: 15px;
        font-size: 35px;
        color: white;
        border: 2px solid black;
        border-radius: 20px;



    }

    form {
        margin-top: 50px;
        margin-right: 40px;
    }

    .input {
        width: 100%;
        padding: 10px;
        margin: 5px;
    }

    .button1 {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        cursor: pointer;
        width: 103%;
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        margin-left: 15px;
    }

    
/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    background-color: black;
    border-top: 2px solid white;
}

.foot {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding: 5px;
    font-size: large;
}




}